.drawer-main {
    color: black;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 10px;

    min-width: 250px;
    min-height: 200px;

    hr {
        margin: 0.5rem 0 0.5rem 0;
        border: 0;
        border-top: 1px solid rgb(215, 215, 215);
    }

    .drawer-title {
        font-size: 14px;
        font-weight: 600;
    }
}