.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: rgb(245, 245, 245);
    // background: linear-gradient(31deg, rgb(233, 234, 237) 0%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 100%);
}

h1 {
    color: black;
    font-size: 20px;
}