$global-padding: 5px;
$primary-color: #4f46e5;
$create-color: rgb(0, 172, 0);
$danger-color: #ef4444;

.p-datatable-header {
    padding: 10px;
}

.users-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-actions {
        display: flex;
        gap: 0.75rem;

        .btn-action {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            padding: 5px 10px;
            border-radius: 6px;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;
            border: none;
            transition: all 0.2s;

            .icon {
                width: 1.25rem;
                height: 1.25rem;
            }

            &.btn-add {
                background-color: $create-color;
                color: white;

                &:hover {
                    background-color: darken($create-color, 10%);
                }
            }

            &.btn-delete {
                background-color: white;
                color: $danger-color;
                border: 1px solid $danger-color;

                &:hover {
                    background-color: rgba($danger-color, 0.05);
                }
            }
        }
    }
}

.dt-custom {
    font-size: 12px;

    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;

    th {
        padding: $global-padding;
    }

    td {
        padding: $global-padding;
    }
}