$global-padding: 5px;

.dt-custom {
    font-size: 12px;

    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;

    th {
        padding: $global-padding;
    }

    td {
        padding: $global-padding;
    }
}